.App {
  text-align: center;
}
body {
    background-image: url('./assets/images/bike2.jpeg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.App-logo {
  height: 40vmin;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.trows {
  font-size: 4rem;
}

.listItems {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  text-decoration: none;
   list-style: none;
}

.lists {
  list-style: none;
  align-items: flex-end;
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.lists:nth-child(4) {
  margin-right: 1rem;
}

.main-body {
  display: flex;

  justify-content: space-around;
  align-items: stretch;

}
.mains{

}
.side {
  background: rgb(167, 106, 106);
 
  /* width: 50%; */
  height: 40rem;
}



.footerItems {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.footer {
  text-decoration: none;
  list-style: none;
  align-items: flex-end;
  margin-left: 2rem;
  color: white;
}



#content {
  display: flex;
flex-direction: row;
  justify-content: space-around;
  /* flex-flow: row wrap; */
  align-items: stretch;
}

.box {

  width: 10rem;
  height: 40rem;
  flex-grow: 1;
  border: 3px solid rgba(0,0,0,.2);
}
.box > p{
  color: white;
  font-size: 3rem;
}
.box1 {
  padding: 3rem;
  flex-grow: 1;
  text-align: center;
}

.box1 > p{
  color: white;
  font-size: 3rem;
}

.race-input{
  margin-top: 4rem;
  width: 35%;
  height: 2rem;
  font-size: 1rem;
  color: #282c34;
   transition: ease-in-out, width .35s ease-in-out;
}
.race-input:focus{
  transition: ease-in-out, width .35s ease-in-out;
   width: 40%;
   outline: 3px solid bisque;
}

#btn{
  margin-top: 4rem;
  height: 2.3rem;
  font-size: 1rem;
  background: #282c34;
  color: bisque;
  cursor: pointer;
}

#btn:hover{
color: #282c34;
background: bisque;
font-weight: 500;
transition: all  .5s ease-in-out;
}

.lagos{
  padding-top: 4rem
}